{% extends "Home.html" %}
{% block container %}
  <div class="login-box">
    <div class="lb-header">
    <h2>Forgot Password</h2>
    </div>
      <div class="u-form-group" align="center">
        <h4>You will get your password on register EmailID</h4>
      </div>
    <form class="email-login" action="#" method="POST">
    {% csrf_token %}
      <div class="u-form-group">
        <div>
        {%  if forgotform.email.errors %}
        <div>
        {{ forgotform.email}}
        <div>
        {{forgotform.email.errors.0}}
     </div>
        </div>
        {% else %}
         {{ forgotform.email}}
        {% endif %}
        </div>
      </div>
      
      <div class="u-form-group" align="center">
       <input name="submit" type="submit" class="button" value="Submit" /><input name="reset" type="reset" class="button"/>
      </div>
      </div>
  {% endblock %}