{% extends "Home.html" %}
{% block container %}
  <div class="login-box">
    <div class="lb-header">
    <h2>Password Reset</h2>
    </div>
      <div class="u-form-group" align="center">
        <h3>{{ ErrorMsg }}</h3>
      </div>
    <form class="email-login" action="#" method="POST">
    {% csrf_token %}
      <div class="u-form-group">
        <div>
        {%  if form.new_password.errors %}
        <div>
        {{ form.new_password }}
        <span>{{ form.new_password.errors.0}}
        </span>
        </div>
        {% else %}
         {{ form.new_password }}
        {% endif %}
        </div>
      </div>
      <div class="u-form-group">
      <div>
          {%  if form.confirm_password.errors %}
        <div>
        {{ form.confirm_password}}
        <span>{{ form.confirm_password.errors.0}}
        </span>
        </div>
        {% else %}
         {{ form.confirm_password }}
        {% endif %}
        </div>
      </div>
      <div class="u-form-group" align="center">
       <input name="submit" type="submit" class="button" value="Submit" /><input name="reset" type="reset" class="button"/>
      </div>
      </div>
  {% endblock %}